h1 {
    color: palevioletred;
}

h2 {
    color: brown;
}

.ord {
    color: rgb(80, 12, 163);
}

.incomplete {
    color: red;
    font-size: 18px;
}

.complete {
    color: green;
    font-size: 18px;
    text-decoration: line-through;
}